.linha {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header h2 {
    /* background: red; */
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.center {
    flex: 1 1 auto;
}

.linha2 {
    margin-top: 10px;
}

.coluns-mat {
    display: flex;
}

.coluns-mat .colun {
    display: flex;
    flex-direction: column;
}

.coluns-mat .colun-meio {
    margin: 0 10px;
}

.coluns-mat mat-form-field {
    width: 60%;
}

.colunas {
    display: flex;
    flex-direction: row;
}