.linha {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header h2 {
    background: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.center {
    flex: 1 1 auto;
}