[mat-header-cell], tr.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 0;
    color: #353535; 
    height: 40px;
    font-weight: bold;
    border: 4px solid #fafafa;
}

.mat-row:hover {
    background-color: rgb(224, 223, 223);
}

[mat-table] {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #353535;
    color: #fafafa; 
}

.header i {
    margin-right: 8px;
}

.tab {
    max-height: 510px;
    overflow-y: auto;
    margin-top: 5px;
}

.div-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: #d6d9e9;
}



.tabela td:last-child{
    text-align: end;
}

.tabela .status {
    font-size: 12px;
}


.borda-status-a {
    border-left: 4px solid red;
}

.borda-status-f {
    border-left: 4px solid green;
}

tr.mat-row {
    height: 52px;
}

[mat-table] {
    border-collapse: unset;
}