.header {
    display: flex;
    align-items: center;
    height: 57px
}

.center {
    flex: 1 1 auto;
}

.caixa {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detalhe {
    margin-top: 8px;
    
}

.detalhe .label {
    color:  rgba(0,0,0,.54);
}

.detalhe h2 {
    margin-top: -4px;
}

.l2 {
    width: 49%;
}

.materiais {
    justify-content: space-between;
    max-width: 100%;
}

.materiais mat-form-field  {
    width: 10%;
    margin-right: 10px;
}

h2 {
    margin-bottom: 8px;
}

h3 {
    padding: 3px;
    border-radius: 10px 10px;
}