<mat-toolbar style="background-color: #353535 ;" class="mat-elevation-z8">
  <span class="text-header">Ocorrências Infraestrutura</span>
  <span class="center"></span>

  <div class="user">
    <span class="nome">{{ nome.nome }}</span>
  </div>
  
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon class="text-header">more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button  mat-menu-item (click)="logout()">
      <mat-icon >logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

</mat-toolbar>
