.content {
    width: 60%;
    margin: 3% auto;
}

.linha {
    display: flex;
}

mat-form-field {
    width: 100%;
}

.input-oc {
    width: 100%;
    margin-right: 3%;
}

.input-lj {
    width: 30%;
}

.select-m {
    margin-right: 3%;
}

.text-des {
    margin-right: 3%;
}

.header {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #353535;
    color: #fafafa; 
}

.header i {
    margin-right: 8px;
}

.card {
    width: 65%;
    margin: 30px auto;
}

.card-footer {
    display: flex;
    justify-content: end;
}

button {
    margin: 0 8px;
}
