.sidenav {
    background-color: #fafafa;
    width: 200px;
}

.sidenav a {
    color: #353535;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

