<mat-sidenav-container >
  <mat-sidenav class="sidenav" mode="side" opened 
      fixedInViewport="true" fixedTopGap="64">
      <mat-nav-list class="nav-list">
          <a mat-list-item class="mat-elevation-z2 mt-1" routerLink="/ocorrencias">
              <i class="material-icons">home</i>
              Início
          </a>
          <a mat-list-item class="mat-elevation-z2 mt-2" routerLink="/gerarOs">
              <i class="material-icons">library_add</i>
              Gerar O.S
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>